<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>
        <receiver
            android:name="com.example.androidtutorial2.notifications.NotificationReceiver"
            android:enabled="true"
            android:exported="false"
            tools:node="replace"
            />
    </application>

</manifest>
